@import url('https://api.fontshare.com/v2/css?f[]=supreme@400,300,500&display=swap');

.font-brand{
    font-family: 'Supreme', sans-serif;
}

.hero-bg {
    background-color: #000000;
    background-image: 
        radial-gradient(ellipse at 10% 10%, #f60505d8 0%, transparent 50%),
        radial-gradient(ellipse at 50% 10%, #fd9116a7 0%, transparent 50%),
        radial-gradient(ellipse at 110% 10%, #f60505d8 0%, transparent 40%),
        radial-gradient(ellipse at 90% 60%, #000000 0%, transparent 45%),
        radial-gradient(ellipse at 10% 80%, #000000 0%, transparent 35%);
    height: 400px;
}

.font-oswald {
    font-family: 'Oswald', sans-serif;
}